server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/RojoMax12/ProyectoTingeso-Microservicios.git
          search-paths: ToolRent-Backend/config-data
  application:
    name: config-service
